<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <section id="about-section" class="section">
      <div class="about">
        <h1>About Me</h1>
        <div class="para">
          <p> Hello! I'm <span class="purple">Shreyash Gaikwad</span>, a Software Developer and Programmer from Pune. I specialize in web development with the MERN Stack, along with expertise in C programming, Data Structures and Algorithms, and Databases (MySQL, MongoDB). I completed my B.Tech at Vishwakarma Institute of Information Technology in Pune. My passion for technology drives me to continuously learn and apply my skills to real-world projects. Outside of coding, I contribute to open-source projects and participate in tech meetups and contests. My mission is to build scalable, user-friendly applications that make a difference. Thank you for visiting my website—let's create something amazing together!</p>
        </div>
      </div>
    </section>
  </body>
</html>
