<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <section id="home-section" class="section">
      <div class="left">
        <div class="sliding-text-left">Hii, My name is</div>
        <div class="sliding-text-right">
          <span class="purple">Shreyash Gaikwad</span>
        </div>
        <div>and I am a passionate</div>

        <span id="element"></span>
        <div class="buttons">
          <button class="btn">
            <a
              href="https://drive.google.com/file/d/1tpHez9j3wvGM2-NlqnfYmYXYuS-Z1SDv/view?usp=drive_link"
              target="_blank"
              >Download Resume<i class="fa-regular fa-file"></i
            ></a>
          </button>
          <button class="btn">
            <a href="https://github.com/Shreyash2118" target="_blank"
              >Visit Github<i class="fa-brands fa-github"></i
            ></a>
          </button>
        </div>
      </div>
      <div class="right">
        <div class="first-one">
          <img id="bg1" class="home-img" src="/images/bg1.png" alt="" />
        </div>
        <div class="mid-two">
          <img id="bg2" class="home-img" src="/images/bg2.png" alt="" />
          <img id="bg3" class="home-img" src="/images/bg3.png" alt="" />
        </div>
        <div class="last-one"></div>
          <img id="bg4" class="home-img" src="/images/bg4.png" alt="" />
        </div>
      </div>
    </section>
  
    
  </body>
</html>
