<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <style>
   
    </style>
  </head>
  <body>
    <header>
      <navbar class="navbar">
        <div class="left"><a href="#home-section">
          <div class="logo">
            <img src="/images/logo2.jpg" alt="" /><span class="logo-heading">Shreyash</span>
          </div>
        </a>
        </div>
        <div class="items">
          <ul>
            <li><a href ="#home-section">Home</a></li>
            <li><a href="#about-section">About</a></li>
            <li><a href="#skill-section">Skills</a></li>
            <li><a href="#contact-section">Contact Me</a></li>
          </ul>
        </div>
      </navbar>
    </header>
  </body>
</html>
