<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skills</title>
  </head>
  <body>
    <section id="skill-section" class="section">
      <h1>Tech Skills</h1>
      <!-- <span class="text-gray">My Skills are</span> -->
      <div class="box">
        <div class="vertical">
          <img class="img" src="./images/skill-1.png" alt="" />
          <div class="vertical-title">Front End Development</div>
          <div class="vertical-desc">
            <ul>
              <li>React JS</li>
              <li>Angular JS</li>
              <li>Tailwind CSS</li>
              <li>Javascript</li>
              <li>HTML 5</li>
            </ul>
          </div>
        </div>
        <div class="vertical">
          <img class="img" src="./images/skill2.png" alt="" />
          <div class="vertical-title">Back End Development</div>
          <div class="vertical-desc">
            <ul>
              <li>Node JS</li>
              <li>Express JS</li>
              <li>Javascript</li>
            </ul>
          </div>
        </div>
        <div class="vertical">
          <img class="img" src="./images/skill3.png" alt="" />
          <div class="vertical-title">Database</div>
          <div class="vertical-desc">
            <ul>
              <li>MySQL</li>
              <li>Mongo DB</li>
              <li>DataBase Management System</li>
            </ul>
          </div>
        </div>
        <div class="vertical">
          <img class="img" src="./images/skill4.png" alt="" />
          <div class="vertical-title">Other Skills</div>
          <div class="vertical-desc">
            <ul>
              <li>C Programming</li>
              <li>Data Structures and Algorithms</li>
              <li>Python</li>
              <li>Git-GitHub</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
